:root {
  --color: #ffffff;
}

[data-theme="light"] {
  --color: #333;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100vw;
}

.contact h4{
    color: var(--color);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}

.contact a{
    text-decoration: none;
    color: var(--color);
    font-weight: 700;
    margin-bottom: 15px;
}

.contact a:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.contact p{
    color: var(--color);
    font-size: 0.9rem;
    font-weight: 400;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 3rem;
}