.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100vw;
}

.contact h4{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}

.contact a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 15px;
    
}

.contact p{
    font-size: 0.9rem;
    font-weight: 400;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 3rem;
}