:root {
    --color: #ffffff;
    --text: black;
}

[data-theme="light"] {
    --color: #333;
    --text: white;
}

.heart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0.75rem 2vw;
    background-color: var(--color);
    position: fixed;
    border-radius: 2rem;
    top: 90vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 998;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    color: var(--text);
    width: 50px;
}

.heart:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}