:root {
    --color: #ffffff;
    --text: black;
}

[data-theme="light"] {
    --color: #141f53;
    --text: white;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0.75rem 2vw;
    background-color: var(--color);
    gap: 1.5rem;
    position: fixed;
    width: 80vw;
    max-width: 800px;
    height: auto;
    border-radius: 2rem;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 998;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.navbar a {
    flex: 0 1 auto;
    text-decoration: none;
    text-align: center;
    min-width: 0;
    padding: 0.5rem 1rem;
    color: var(--text);
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar a:hover {
    transform: translateY(-0.2vh);
    font-size: 1.1rem;
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.navbar button {
    flex: 0 1 auto;
    min-width: 0;
    border: none;
    color: var(--text);
    height: 80%;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

.navbar button:hover {
    transform: translateY(-0.2vh);
    font-size: 1.1rem;
    transition: transform 0.3s ease;
}

.navbar .hamburger {
    display: none;
}

@media (max-width: 768px) {

    .navbar {
        justify-content: flex-start;
    }

    .navbar a {
        display: none;
    }

    .navbar button {
        display: none;
    }

    .navbar .hamburger {
        display: block;
        cursor: pointer;
        font-size: 1.2rem;
        height: 80%;
        cursor: pointer;
        color: var(--color);
    }

    .navbar .hamburger:hover {
        transform: translateY(-0.2vh);
        font-size: 1.4rem;
        transition: transform 0.3s ease, font-size 0.3s ease;
    }
}

/* Dropdown container */
.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color);
    border-radius: 0.75rem;
    padding: 0.5rem 0;
    width: 250px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

/* Dropdown links/buttons */
.dropdown a,
.dropdown button {
    display: block;
    width: 100%;
    padding: 0.75rem 1.5rem;
    box-sizing: border-box;
    color: var(--text);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    border-radius: 0.5rem;
    background-color: var(--color);
}

/* Hover effect */
.dropdown a:hover,
.dropdown button:hover {
    background-color: #142a4a;
    color: white;
}